.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.login {
	width: 400px;
  margin: auto;
	position: relative;
    top: 100px;
    text-align: center;

}

.tile-glow{
  border: 1px solid #13beb1;
  box-shadow: 0 .5rem 1rem rgba(19,190,177,.45)!important;
  padding:10px;
  width:100%;
  height:500px;
  overflow:auto;
}